:root {
  --pfe-card--BorderColor: #eee;
  --pfe-card--BorderWeight: 1px;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

section {
  margin-bottom: 36px;
}

@media (min-width: 768px) {
  .App {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .App {
    width: 1140px;
    margin: auto;
  }
}
